@inherits LayoutComponentBase

<div class="page">
 <!--   <div class="sidebar">
        <NavMenu />
    </div>
 -->

    <div class="main">
        <div class="top-row px-4 auth">
            <AuthorizeView>
                <Authorized>
                    <MudAppBar Color="Color.Inherit" Fixed="false">
                        <MudSpacer />
                        <MudTooltip Text="@context.User.Identity.Name">
                            <MudIcon Icon="@Icons.Filled.VerifiedUser"></MudIcon>
                        </MudTooltip>
                        <MudTooltip Text="Home">
                            <MudIconButton Icon="@Icons.Filled.Home" OnClick="RedirectToHome" Color="Color.Inherit" />
                        </MudTooltip>
                        <MudTooltip Text="Logout">
                            <MudIconButton Icon="@Icons.Filled.Logout" OnClick="RedirectToSignOut" Color="Color.Inherit" />
                        </MudTooltip>
                    </MudAppBar>
                </Authorized>
                <NotAuthorized>
                    <MudAppBar Color="Color.Inherit" Fixed="false">
                        <MudTooltip Text="Login">
                            <MudIconButton Icon="@Icons.Filled.Login" OnClick="RedirectToSignIn" Color="Color.Inherit" />
                        </MudTooltip>
                    </MudAppBar>
                </NotAuthorized>
            </AuthorizeView>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
